.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  z-index: 1;

  .logo {
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
  }
}

.sidebar {
  min-height: calc(100vh - 64px);
  background: #4a4e58;
}

.user__data {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;

  &-fullname {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }

  &-email {
    font-size: 12px;
    font-weight: 500;
    color: #f4f5f9;
  }
}

.main {
  padding: 20px;
  .new-item-button {
    margin-bottom: 20px;
  }
}
